<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Float2</title>
    <style>
        .news{
            width: 420px;
            border: solid;
            overflow: hidden;
            margin-bottom: 8px;
        }
        .float_left{
            float: left;
        }
        .float_right{
            float: right;
        }
        p{
            width: 202px;
            padding: 0;
            margin: 0;
            margin-left: 8px;
        }
        img{
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="news">
        <img class="float_left" src="imgs/a56237775b874a0dad95583a15226a79.jpeg" alt="">
        <p class="float_right">纪工委张立新书记到南苑小学调研、指导“清廉学校”建设</p>
    </div>

    <div class="news">
        <img class="float_right" src="imgs/a56237775b874a0dad95583a15226a79.jpeg" alt="">
        <p class="float_left">纪工委张立新书记到南苑小学调研、指导“清廉学校”建设</p>
    </div>

</body>
</html>